.owl-carousel{
	position: relative;
}

.owl-stage .owl-item{
	height: 200px;
	background-color: red;
}

.owl-nav div {
  position: absolute;
  top: 50%;	
  transform: translateY(-50%);
  vertical-align: middle;
  text-align: center;
  background-color: #fff;
  opacity: 0.3;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  margin: 0 5px;

}

.owl-nav div:hover{
	opacity: 0.7;
	transition: 300ms;
}

.owl-nav div img{
	width: 100%;
	height: auto;
}

.owl-next {
  right: 0px;
}

.owl-dots{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.owl-dot{
	display: inline-block;
	margin: 0 2px;
	padding: 0;
	height: 2px;
	width: 40px;
	background-color: white;
	opacity: 0.3;
}

.owl-dot:hover{
	transition: 170ms;
	opacity: 0.7;
}

.owl-dots .active{
	opacity: 0.7;
	transition: 300ms;
}